{% extends "base.html" %}

{% block title %}
New habit
{% endblock %}

{% block main %}
<form action="/new-habit" method="post">
    <div class="mb-3">
        <label for="name" class="form-label">Habit</label>
        <input class="form-control" id="name" name="name" placeholder="Enter habit name" type="text" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Frequency</label><br>
        {% for day in days %}
            <input type="checkbox" class="btn-check" name="frequency" value="{{ day }}" id="day{{ day }}">
            <label class="btn btn-outline-primary me-1 mb-1" for="day{{ day }}">{{ days[day] }}</label>
        {% endfor %}
    </div>

    <div class="mb-3">
        <label for="time_of_day" class="form-label">Time</label>
        <select class="form-select" id="time_of_day" name="time_of_day" required>
            {% for time in time_options %}
                <option value="{{ time }}">{{ time }}</option>
            {% endfor %}
        </select>
    </div>

    <button class="btn btn-primary" type="submit">Save</button>
</form>
{% endblock %}
